body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #001e61;
    color: #f6f7fb;
}

nav a {
    color: #ddd;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #a3a3a3;
}

h1 {
    margin: 0;
    text-align: center;
}

main {
    width: 65%;
    margin: 20px auto;
    padding: 20px;
}

section p a {
    color: #001e61;
    text-decoration: none;
}

section p a:hover {
    color: #0039b3;
}

img {
    border-radius: 16px;
    width: 20%;
    height: 20%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

table section {
    background-color: #f5f5f5;
    color: #001e61;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

aside {
    background-color: #f5f5f5;
    color: #001e61;
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

#contact a {
    color: #0051ff;  ;
    text-decoration: none;
}

#contact a:hover {
    color: #001e61;
}

ul a{
    color: #004ffa;
    text-decoration: none;
}
ul a:hover {
    color: #002e92;
}

footer a {
    color: #3c88ca;
    text-decoration: none;
}

footer a:hover {
    color: #1a5f8a;
}

footer {
    padding: 40px;
    margin-bottom: auto;
    background: #333;
    text-align: center;
    color: #f6f7fb;
}



