body {
    background-color: powderblue;
}
h1  {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;

}
p   {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
}

header {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
}

#p1 {
    color: crimson;
    font-size: 12;
    border: 2px solid red;

    padding: 30px;
    margin: 50px;
}

p.dashed {
    border-style: dotted dashed solid double;
    border-color: red blue green black;
    border-width: medium;
}